

<a href='{{@blog.url}}'>

  <img src="{{asset "images/logo.png"}}" id="logo"/>
  
<header role='banner' id="site-header">


  <h1 id="site-title">{{@blog.title}}

  </h1>

  <h3 id="site-description">{{@blog.description}}</h3>



  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
  <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{asset "css/fontello.css"}}" />
  <link rel="stylesheet" href="{{asset "css/animation.css"}}" />

</header>
</a>
